@page
@model IndexModel
@{
    ViewData["Title"] = "Devices";
}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <h2>@ViewData["Title"]</h2>

    <div class="table-responsive">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        <a asp-page="./Devices">
                            @Html.DisplayNameFor(mode => Model.Devices[0].SerialNumber)
                        </a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(mode => Model.Devices[0].RegistrationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(mode => Model.Devices[0].FirmwareVersion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model.Devices.Take(50))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(_ => device.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => device.RegistrationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => device.FirmwareVersion)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-serialnumber="@device.SerialNumber">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
